.leftSidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.leftSidebar .icon {
    background-color: transparent;
    border: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

@import '~@fortawesome/fontawesome-free/css/all.min.css';

.icon i {
    margin: 5px;
    background-color: transparent;
    color: rgb(213, 213, 213);
    font-size: 18px;
}

.icon:hover {
    background-color: #e0f2ff;
}

.icon.active {
    background-color: #d0e7ff;
    /* box-shadow: 0 0 0 2px #6a11cb; */
}

.icon.active i {
    color: #3885e9;
}

.leftSidebar .spacer {
    height: 80px;  /* Adjust this value to get the desired spacing */
}